#body {
  background-color: #f4e1d2;
  font-size: 16px;
}

#heading {
  background-color: #50394c;
  font-size: 18px;
  font-weight: bolder;
  padding-left: 40%;
}
#breadcrumb {
  background-color: #ada397;
  font-size: 16px;
  font-style: italic;
  font-weight: bolder;
  display: inline-block;
  font-stretch: expanded;
  word-spacing: inherit;
}

#text1 {
  font-size: 22px;
  font-style: oblique;
  color:#100f24;
  padding-left: 20px;
  font-weight: bolder;
}

#image{
  max-height: 350px;
  max-width: 1000px;
}

#title{
  font-size: 22px;
  font-weight: bolder;
  font-style: oblique;
  color: #618685;
  text-decoration: underline;
  text-emphasis-style: filled;
}

#description{
  font-size: 20px;
  font-weight: bolder;
  font-style: italic;
  color:#3e4444;
}

#link{
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  text-decoration: underline;
}

.footer{
  background-color: #c94c4c;
  padding-left: 530px;
  font-size: 18px;
  font-weight: bolder;
  margin-top: 50px;
  padding-top: 10px;
}

@media(max-width:1200px){
  #heading{
    padding-left: 50%;
  }
  .footer{
    padding-left: 50%;
  }
}

@media(min-width: 992px) and (max-width: 1199px){
  #heading{
    padding-left: 45%;
  }
  .footer{
    padding-left: 40%;
  }
}

@media(min-width:768px) and (max-width:991px){
  #heading{
    padding-left: 40%;
  }
  .footer{
    padding-left: 30%;
  }
  #text1{
    font-size: 18px;
  }
  #title{
    font-size: 18px;
  }
  #description{
    font-size: 16px;
  }
  #image{
    max-width: 100%;
    max-height: 170px;
  }
  #link{
    font-size: 14px;
  }
}

@media(max-width:767px){
  #heading{
    padding-left: 20%;
  }
  .footer{
    padding-left: 20%;
    font-size: 14px;
  }
  #text1{
    font-size: 18px;
  }
  #title{
    font-size: 18px;
  }
  #description{
    font-size: 16px;
  }
  #image{
    max-width: 100%;
    max-height: 170px;
  }
  #link{
    font-size: 14px;
  }
}
